# Clojure has too many config folders
.clj-kondo/
.calva/
.cpcache/
.lsp/
# Just in case for IDEs
.vscode/
.vs/
*.swp
# Java binary files
*.jar
*.class
# Target files
target/
*.deb
*.exe
# Spreadsheet files
*.xlsx
# PDF files
*.pdf
# Crash files
*.log
